/* VideoPlayer.css */
.player-wrapper {
    max-width: 720px; /* Adjust based on your preference */
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.react-player {
    border-radius: 8px; /* Optional: if you want rounded corners on the player itself */
}
