.player-wrapper {
    max-width: 720px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.react-player {
    border-radius: 8px;
}
